.header {
  height: 80px; 
  color: white;
  background-color: #4B565E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  background-color: #4B565E;
  border: none;
  cursor: pointer;
  margin-right: 40px;
  margin-left: 60px;
}

.header-nav {
  display: flex;
}

.header-nav-item {
  margin-right: 24px;
  background-color: #4B565E;
  border: none;
  cursor: pointer;
  color: white;
}

.top-bar {
  height: 50px;
  background-color: #F0BA4E;
}

.header-right {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #F0BA4E;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #4B565E;
  color: white;
  cursor: pointer;
}

.header-cart-item {
  padding-right: 10px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 300px; 
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.top-bar-right {
  display: flex;
  align-items: center;
}

.bar-left-item {
  border: none;
  background-color: #F0BA4E;
  cursor: pointer;
  margin-left: 10px;
}

.search-input {
  background-color:#F0BA4E;
  border: none;
  outline: none;
  border-bottom: solid 1px black;
  width: 400px;
  height: 28px;
}

.search-button {
  border: none;
  background-color:#F0BA4E;
  cursor: pointer;
}

.location {
  border: none;
  background-color:#F0BA4E;
  cursor: pointer;
}

.select-city {
  color: white;
}