<div class="header">
  <div class="header-left">
  <button class="header-logo">
    <img src="/assets/Frame.svg" alt="logo">
  </button>
  <nav class="header-nav">
    <button class="header-nav-item">Главная</button>
    <button class="header-nav-item">О компании</button>
    <button class="header-nav-item">Каталог</button>
  </nav>

  </div>
  <div class="header-right">
    <button class="header-nav-item"><img src="/assets/Phone.svg" alt="phone-logo"></button>
    <button class="header-nav-item">+7 (495) 084-29-29</button>
    <button class="header-nav-item"><img src="/assets/Heart.svg" alt="like-logo"></button>
    <button class="cart">
      <div class="header-cart-item"><img src="/assets/Cart.svg" alt="cart-logo"></div>
      <div class="header-cart-item">Пусто</div>
    </button>
    
  </div>
</div>
<div class="top-bar">
  <div class="top-bar-left">
    <button class="bar-left-item"><img src="/assets/Light.svg" alt=""></button>
    <button class="bar-left-item">Каталог</button>
    <button class="bar-left-item">Стройматериалы</button>
    <button class="bar-left-item">Инструменты</button>
    <button class="bar-left-item">Электрика</button>
    <button class="bar-left-item">Интерьер и одежда</button>
  </div>

  <div class="top-bar-right">
    <div class="input-search"></div>
    <input type="text" placeholder="Поиск, например: Круг зачистной" class="search-input search-border-bottom">
    <button class="search-button search-border-bottom"><img src="/assets/Search.svg" alt=""></button>
    <div class="select-city"> <button class="location"><img src="/assets/Map.svg" alt="Map-logo"></button>Москва</div>
  </div>
</div>
